// @import 'base/base.scss';
@import 'abstract/component';
@import 'abstract/variables';

.wrapper {
    text-align: center;
    padding: 3rem 2rem;
    display: flex;
    height: 90vh;
    flex-direction: column;

}

.bluetooth {
    margin-top: 70px;
    align-self: center;

    &-off {
        margin-top: 30px;
        font-size: 30px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    p {
        font-size: 10px;
    }
}