h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; }

*,
::before,
::after {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

.footer-icon {
  background-color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  font-size: 30px;
  color: #404040; }
  .footer-icon:not(:last-child) {
    margin-right: 30px; }

.icon-alone {
  color: #539DC2;
  font-size: 50px; }

.main-icon {
  width: 200px;
  height: 200px;
  border: 3px solid #539DC2;
  font-size: 30px;
  border-radius: 50%;
  margin: auto;
  color: #539DC2;
  position: relative; }
  .main-icon div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.wrapper {
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  height: 90vh;
  flex-direction: column; }

.bluetooth {
  margin-top: 70px;
  align-self: center; }
  .bluetooth-off {
    margin-top: 30px;
    font-size: 30px; }

.footer {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }
  .footer p {
    font-size: 10px; }
